[mysqld]
basedir=/opt/anaconda3
datadir=/Users/l/Projects/找工作/data/runtime/mysql/data
socket=/Users/l/Projects/找工作/data/runtime/mysql/mysql.sock
port=3307
bind-address=127.0.0.1
skip-networking=0
pid-file=/Users/l/Projects/找工作/data/runtime/mysql/mysql.pid
log-error=/Users/l/Projects/找工作/data/runtime/logs/mysql-server.err
plugin-dir=/opt/anaconda3/lib/plugin
lc-messages-dir=/opt/anaconda3/pkgs/mysql-8.4.0-h065ec36_2/share/mysql
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
lower_case_table_names=2
mysqlx=0

[client]
socket=/Users/l/Projects/找工作/data/runtime/mysql/mysql.sock
port=3307
